<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>タブタイトル</title>
    <meta name="description" content="ページの概要(検索結果で記事タイトル下に表示される文章)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js"></script>
    <script async src="./js/main-async.js"></script>
    <script defer src="./js/main-defer.js"></script>
</head>

<body>
    <!-- header -->
    <header>ヘッダー</header>
    <nav>ナビゲーション</nav>
    <!-- /header -->
    <!-- main -->
    <article>
        <h1>見出し1</h1>
        <section>
            <h2>見出し2</h2>
            <p>コンテンツの内容</p>
        </section>
    </article>
    <!-- /main -->
    <!-- footer -->
    <footer>フッター</footer>
    <!-- /footer -->
</body>

</html>